img {
  max-width: 100%;
  height: auto; }

#header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0;
  background-color: #ff9185; }
  #header #menu {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  #header div h1 {
    width: 100%;
    font-size: 1.7em;
    font-weight: 200;
    color: white;
    margin: auto; }
  #header .dropdown {
    position: relative;
    display: inline-block;
    margin: 0 auto; }
    #header .dropdown:hover .dropdown-content {
      display: block; }
  #header .dropdown-button {
    background: none;
    border: none;
    color: white;
    font-weight: 300;
    font-size: 17px; }
  #header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff9185; }

ul {
  list-style: none; }

li {
  padding-top: 1.5em;
  display: block;
  width: 150px; }

a {
  color: white;
  margin: 0 auto;
  font-weight: 300;
  line-height: 50px; }
  a:hover {
    text-decoration: none;
    display: block;
    color: white; }

#banner {
  background-image: url("../images/banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  margin: 0 auto; }
  #banner h2 {
    font-size: 3.5em;
    text-align: center;
    font-weight: 200;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #banner .button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); }

hr {
  width: 40%;
  border-color: rgba(255, 255, 255, 0.8);
  opacity: 70%;
  border: 0 0 10px 0;
  z-index: auto;
  margin: 0 auto;
  position: absolute;
  display: block;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%); }

#circle {
  background-color: white;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  margin: 0 auto;
  z-index: auto;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%); }

.button {
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: .7em 2.5em;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9); }
  .button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    text-decoration: none; }

#section-one {
  padding: 3em; }
  #section-one .features .feature {
    padding: 1.5rem;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; }
  #section-one .title {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 1em; }

#section-four {
  background-color: white;
  padding: 5em; }
  #section-four h6 {
    font-size: 2.2em;
    font-weight: 250; }

#section-two {
  padding: 80px;
  background-color: #ff887b;
  width: 100%;
  max-width: 100vw; }
  #section-two .col-sm-3 {
    font-size: 3em;
    color: white;
    font-weight: 200;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
    #section-two .col-sm-3:first-child {
      border-left: none; }
  #section-two h3 {
    font-size: 20px;
    font-weight: 400; }
  #section-two h5 {
    font-size: 16px;
    font-weight: 200; }

#section-three {
  padding: 3em 0; }
  #section-three .col-left h3 {
    font-weight: 200;
    margin-bottom: 1em; }
  #section-three .col-left p {
    color: #5a5a5a;
    font-weight: 200;
    margin-bottom: 1em; }
  #section-three .col-left img {
    width: 100%;
    margin-bottom: 1em; }
  #section-three .col-left .button {
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    background: transparent;
    border-radius: 4px;
    display: inline-block; }
  #section-three .skill {
    margin-bottom: 2em; }
    #section-three .skill .line {
      background-color: #e4e4e4;
      width: 100%;
      height: 2px; }
      #section-three .skill .line .line-inner {
        background-color: #ff887b;
        height: 100%; }

#section-four {
  padding: 0;
  margin: 0; }
  #section-four .col-md-6 {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; }
  #section-four p {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 200;
    color: white; }
  #section-four img {
    width: 100%;
    height: 100%; }

#footer {
  display: flex;
  flex-direction: row;
  background-color: #ff887b;
  color: white;
  padding: 3em 0; }
  #footer h5 {
    font-size: 2em;
    color: white;
    font-weight: 300; }
  #footer .contact-form input, #footer .contact-form textarea {
    width: 100%;
    margin: .5em 0 1em;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 10px;
    color: white; }
    #footer .contact-form input:focus, #footer .contact-form textarea:focus {
      outline: none;
      border-color: #ffffff; }
    #footer .contact-form input::placeholder, #footer .contact-form textarea::placeholder {
      color: rgba(255, 255, 255, 0.5); }
  #footer .contact-form button {
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: .5em 1em;
    background-color: transparent; }
    #footer .contact-form button:hover {
      background-color: rgba(255, 255, 255, 0.05); }

@media screen and (max-width: 320px) {
  #section-four .col-md-6 p {
    font-size: 1.5em; } }

@media screen and (min-width: 579px) {
  #section-one .features .feature:nth-child(2n) {
    border-right: none; }
  #section-one .features .feature:nth-last-child(-n + 2) {
    border-bottom: none; } }

@media screen and (max-width: 900px) {
  #section-one .features .feature {
    border: none; }
  #section-one .features .feature:last-child {
    border-bottom: none; }
  #circle {
    width: 3em;
    height: 3em; }
  #banner {
    font-size: .5em; }
  .button, .button2, .button3 {
    padding: .5em 1em; }
  #section-two .col-sm-3 {
    border-left: none; }
  #section-four p {
    font-size: 2em; } }

@media screen and (min-width: 768px) {
  #header .navbar {
    display: flex;
    margin-left: auto;
    margin-right: 2em; }
    #header .navbar a {
      font-size: 17px; } }
